.header-container {
  background-color: #424242;
  color: white;
  display: flex;
  align-items: center;
  padding: 10px;
}

.back-button {
  cursor: pointer;
  margin-right: 10px;
}

.conversation-name {
  font-size: 18px;
  font-weight: bold;
}

.spacer {
  width: 20px;
}
